* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0 auto;
}
.logo {
  width: 150px;
}
.icon {
  display: flex;
  align-items: center;
}
.main-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(245, 245, 245);
}
.nav-link {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
a,
li {
  list-style: none;
  text-decoration: none;
  color: black;
}
.hero {
  position: relative;
  height: 90vh;
  width: 80% auto;
  text-align: center;
}

.hero::before {
  content: "";
  background-image: url(/image/chilli.avif);
  background-size: cover;
  
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  z-index: -1;
}

.hero-text {
  position: relative;
  color: #222;
  text-align: center;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}
p {
  font-size: 1.5rem;
  font-weight: 400;
}
.btn {
  border-radius: 5px;
  padding: 5px 30px;
  background-color: rgb(133, 73, 245);
  color: #fff;
}
ul {
  list-style: none;
}
.hero-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3%;
}

.menu-card {
  border-radius: 2px;
  box-shadow: rgba(18, 132, 246, 0.2);
  position: relative;
  padding: 10px;
  margin-top: 50px;
}
.menu-card:hover {
  border: 1px solid #000;
  /* box-shadow: rgba(18, 132, 246, 0.2); */
  opacity: 0.7;
}
.menu-item-name {
  text-align: center;
  font-size: 1rem;
  position: absolute;
  top: 58%;
  left: 10px;
  opacity: 80%;
  z-index: 1;
  background-color: #fff;
  padding: 8px 12px;
}
.menu {
  text-align: center;
  font-size: 2rem;
}
.container-main {
  width: 80%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 10px 0px 10px;
  
}
.menu-list {
  width: 250px;
  height: 250px;
  padding: 45px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-image: url(/dark-img/Salad-6-modified_50kb.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;

  /* filter: brightness(40%); */
}
.menu-list-1 {
  width: 250px;
  height: 250px;
  padding: 45px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-image: url(/dark-img/pizza-modified_50.jpeg);
  background-size: cover;
  background-position: center;

  /* filter: brightness(40%); */
}
.menu-list-2 {
  width: 250px;
  height: 250px;
  padding: 45px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-image: url(/dark-img/mixgrill-modified_50.png);
  background-size: cover;
  background-position: center;

  /* filter: brightness(40%); */
}
.menu-list-3 {
  width: 250px;
  height: 250px;
  padding: 45px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-image: url(/dark-img/dessert-modified_50.jpeg);
  background-size: cover;
  background-position: center;

  /* filter: brightness(40%); */
}
.menu-list-4 {
  width: 250px;
  height: 250px;
  padding: 45px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-image: url(/dark-img/drinks-modified_50.png);
  background-size: cover;
  background-position: center;

  /* filter: brightness(40%); */
}
.menu-list-5 {
  width: 250px;
  height: 250px;
  padding: 45px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-image: url(/dark-img/see_food-modified_50.png);
  background-size: cover;
  background-position: center;

  /* filter: brightness(40%); */
}

.list {
  /* background-image: url(/dark-img/cup-straw.svg); */
  border: #c7bebe 5px solid;
  filter: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: #fff;
}
.bi {
  display: block;
  font-size: 34px;
  color: #fff;
}
.fa-solid{
  font-size: 30px;
  color: #fff;
}
.fa-solid:hover{
  background-color: blueviolet;
  color: #fff;
}